/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* ISOLER PROSE - NE TOUCHE QUE LE CONTENU */

/* src/index.css (ou votre fichier CSS global) */

@font-face {
  font-family: 'Kigelia Adlam';
  src: url('./assets/fonts/KigeliaAdlam-Regular.woff2') format('woff2'),
    url('./assets/fonts/KigeliaAdlam-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  /* Assurez-vous que le chemin d'accès au fichier est correct */
}

@font-face {
  font-family: 'Kigelia Adlam';
  src: url('./assets/fonts/KigeliaAdlam-Bold.woff2') format('woff2'),
    url('./assets/fonts/KigeliaAdlam-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.article-content {
  isolation: isolate;
}
.article-content img {
  max-width: 100% !important;
  height: auto !important;
  display: block;

  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px !important;
}

/* Styles pour les écrans de moins de 480px (téléphones) */
@media screen and (max-width: 480px) {
  .article-content img {
    max-width: 50% !important; /* un peu plus petit que l'écran */
    /* moins d'espace autour */
    border-radius: 8px; /* légèrement plus petit */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* moins prononcé */
  }
}

.article-content
  :where(p, h1, h2, h3, h4, h5, h6, ul, ol, li, img, blockquote, pre, code) {
  all: revert;
}

/* Réappliquer les styles Tailwind uniquement ici */
.article-content .prose {
  all: unset;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
